@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3>Problema 1: Devolver el cuadrado del número entero ingresado</h3>
    <form asp-action="Problema1" method="post">
        <label>Ingrese un número</label>
        <input type="text" name="Numero" />
        <input type="submit" name="boton" value="Enviar" />
    </form>

    <h3>Problema 2: Cociente entre dos números ingresados</h3>
    <form asp-action="Problema2" method="post">
        <label>Ingrese ambos números</label>
        <input type="text" name="Numero1" />
        <input type="text" name="Numero2" />
        <input type="submit" name="boton" value="Enviar" />
    </form>

    <h3>Problema 3: Lista de provincias</h3>
    <form asp-action="Problema3" method="post">
        <input type="submit" name="boton" value="Mostrar" />
    </form>

    <h3>Problema 4: Calcular el consumo de nafta por kilometro</h3>
    <form asp-action="Problema4" method="post">
        <label>Ingrese los kilometros recorridos</label>
        <input type="text" name="Numero1" />
        <label>Ingrese los litros consumidos</label>
        <input type="text" name="Numero2" />
        <input type="submit" name="boton" value="Enviar" />
    </form>


</div>
